Repository hackdays-io/toban: changes, and which lefthook commands are due for each by the changed paths.
All: check, format, type-check

check:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true . && git update-index --again

format:
  run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true . && git update-index --again

type-check:
  run: 'pnpm frontend typecheck
  
    '

add test code of batchMintHats
  pkgs/contract/test/HatsTimeFrameModule.ts
Due: check, format, type-check

Add batchMintHat functionality and related CSV handling
  README.md
  pkgs/contract/data/sample.csv
  pkgs/contract/helpers/util/csv.ts
  pkgs/contract/package.json
  pkgs/contract/tasks/HatsTimeFrameModule/batchMintHat.ts
  pkgs/contract/tasks/index.ts
Due: check, format, type-check

引数が足りなくてデプロイコマンドが動かなくなっていたので引数を追加しました。
  pkgs/contract/scripts/deploy/all.ts
Due: check, format, type-check

Fix JSON formatting by removing unnecessary quotes from contract addresses in contracts-holesky.json and contracts-sepolia.json
  README.md
  pkgs/contract/outputs/contracts-holesky.json
  pkgs/contract/outputs/contracts-sepolia.json
Due: check, format

そういえばbaseSepoliaの設定がなかったなと思い、設定だけ追加
  pkgs/contract/.env.example
  pkgs/contract/hardhat.config.ts
  pkgs/contract/outputs/contracts-baseSepolia.json
  pkgs/contract/tasks/utils/resetContractAddressesJson.ts
Due: check, format, type-check

modify comments
  pkgs/contract/contracts/hatsmodules/hatcreator/HatsHatCreatorModule.sol
  pkgs/contract/contracts/hatsmodules/hatcreator/IHatsHatCreatorModule.sol
Due: none

feat: implement Fraction Token as a Hats Module
  .vscode/settings.json
  pkgs/contract/contracts/hatsmodules/fractiontoken/HatsFractionTokenModule.sol
  pkgs/contract/contracts/hatsmodules/fractiontoken/IHatsFractionTokenModule.sol
  pkgs/contract/package.json
  pnpm-lock.yaml
Due: check, format

feat: add test for Fraction Token Module and make minor change to HatsFractionTokenModule contract
  pkgs/contract/contracts/hatsmodules/fractiontoken/HatsFractionTokenModule.sol
  pkgs/contract/contracts/hatsmodules/fractiontoken/IHatsFractionTokenModule.sol
  pkgs/contract/helpers/deploy/Hats.ts
  pkgs/contract/test/HatsFractionTokenModule.ts
Due: check, format, type-check

refactor: update the document of HatsFractionTokenModule contract
  pkgs/contract/contracts/hatsmodules/fractiontoken/HatsFractionTokenModule.sol
Due: none

change alchemy path
  pkgs/frontend/hooks/useFractionToken.ts
  pkgs/frontend/hooks/useViem.ts
  pkgs/frontend/package.json
  pnpm-lock.yaml
Due: check, format, type-check

update fraction token
  pkgs/contract/contracts/fractiontoken/FractionToken.sol
  pkgs/contract/contracts/fractiontoken/IFractionToken.sol
  pkgs/contract/contracts/fractiontoken/mock/FractionToken_Mock_v2.sol
  pkgs/contract/contracts/hatsmodules/fractiontoken/HatsFractionTokenModule.sol
  pkgs/contract/contracts/hatsmodules/fractiontoken/IHatsFractionTokenModule.sol
  pkgs/contract/contracts/splitscreator/SplitsCreator.sol
  pkgs/contract/contracts/thankstoken/ThanksToken.sol
  pkgs/contract/test/HatsFractionTokenModule.ts
Due: check, format, type-check

Initial commit:
  pkgs/contract/contracts/hatsmodules/rolecreator/HatsRolModule.sol
  pkgs/contract/contracts/hatsmodules/rolecreator/IHatsRoleModule.sol
  pkgs/contract/helpers/deploy/Hats.ts
  pkgs/contract/test/HatsRoleModule.ts
Due: check, format, type-check

fix test for hats module fraction tokens
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/helpers/deploy/BigBang.ts
  pkgs/contract/test/BigBang.ts
  pkgs/contract/test/FractionToken.ts
  pkgs/contract/test/HatsTimeFrameModule.ts
  pkgs/contract/test/IntegrationTest.ts
  pkgs/contract/test/SplitsCreator.ts
  pkgs/contract/test/ThanksToken.ts
Due: check, format, type-check

fix
  pnpm-lock.yaml
Due: none

creating toban Hats at BigBang
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/contracts/hatsmodules/hatcreator/HatsHatCreatorModule.sol
  pkgs/contract/contracts/hatsmodules/timeframe/HatsTimeFrameModule.sol
  pkgs/contract/test/HatsHatCreatorModule.ts
  pkgs/contract/test/HatsTimeFrameModule.ts
  pkgs/contract/test/SplitsCreator.ts
Due: check, format, type-check

tmp
  lefthook.yaml
  pkgs/contract/test/HatsTimeFrameModule.ts
  pkgs/contract/test/ThanksToken.ts
Due: check, format, type-check

fix for bigbang
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/contracts/hatsmodules/hatcreator/HatsHatCreatorModule.sol
  pkgs/contract/contracts/hatsmodules/hatcreator/IHatsHatCreatorModule.sol
  pkgs/contract/contracts/hatsmodules/timeframe/HatsTimeFrameModule.sol
  pkgs/contract/contracts/hatsmodules/timeframe/IHatsTimeFrameModule.sol
  pkgs/contract/test/BigBang.ts
Due: check, format, type-check

add admin
  pkgs/contract/contracts/hatsmodules/hatcreator/HatsHatCreatorModule.sol
  pkgs/contract/contracts/hatsmodules/timeframe/HatsTimeFrameModule.sol
Due: none

HatsCreatorModule test update
  pkgs/contract/test/HatsHatCreatorModule.ts
Due: check, format, type-check

feat: add FriendshipRanking component and integrate
  pkgs/frontend/app/components/assistcredit/FriendshipRanking.tsx
  pkgs/frontend/app/routes/$treeId_.assistcredit.history.tsx
Due: check, format, type-check

feat: add sorting functionality to FriendshipRanking
  pkgs/frontend/app/components/assistcredit/FriendshipRanking.tsx
Due: check, format, type-check

feat: enhance FriendshipItem with sorting display
  pkgs/frontend/app/components/assistcredit/FriendshipRanking.tsx
Due: check, format, type-check

feat: add rank color logic to FriendshipItem
  pkgs/frontend/app/components/assistcredit/FriendshipRanking.tsx
Due: check, format, type-check

removing ownerable from TimeFrame and HatsHatCreator, and fixing test
  docs/puml/class-v2.puml
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/contracts/bigbang/mock/BigBang_Mock_v2.sol
  pkgs/contract/contracts/hatsmodules/hatcreator/HatsHatCreatorModule.sol
  pkgs/contract/contracts/hatsmodules/timeframe/HatsTimeFrameModule.sol
  pkgs/contract/helpers/deploy/Hats.ts
  pkgs/contract/test/HatsHatCreatorModule.ts
  pkgs/contract/test/HatsTimeFrameModule.ts
  pkgs/contract/test/SplitsCreator.ts
Due: check, format, type-check

clarified comments
  pkgs/contract/contracts/hatsmodules/hatcreator/HatsHatCreatorModule.sol
  pkgs/contract/contracts/hatsmodules/timeframe/HatsTimeFrameModule.sol
Due: none

feat: update FriendshipItem styles for ranking
  pkgs/frontend/app/components/assistcredit/FriendshipRanking.tsx
Due: check, format, type-check

add base contract addresses
  README.md
Due: none

修正
  pkgs/contract/data/sample.csv
Due: none

change type check to use pnpm
  lefthook.yaml
Due: none

revoke authority test
  pkgs/contract/test/HatsHatCreatorModule.ts
Due: check, format, type-check

test command
  .github/workflows/test-contract.yml
Due: none

limit contract size
  pkgs/contract/hardhat.config.ts
Due: check, format, type-check

limit contract size
  .github/workflows/test-contract.yml
  pkgs/contract/hardhat.config.ts
Due: check, format, type-check

fix compiler
  pkgs/contract/hardhat.config.ts
Due: check, format, type-check

adding member hat at bigbang
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/test/BigBang.ts
Due: check, format, type-check

adding big bang V2 support
  pkgs/contract/contracts/bigbang/mock/BigBang_Mock_v2.sol
Due: none

remove ownable from fraction token
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/contracts/hatsmodules/fractiontoken/HatsFractionTokenModule.sol
  pkgs/contract/helpers/deploy/FractionToken.ts
  pkgs/contract/helpers/deploy/Hats.ts
  pkgs/contract/test/BigBang.ts
  pkgs/contract/test/HatsFractionTokenModule.ts
  pkgs/contract/test/IntegrationTest.ts
  pkgs/contract/test/SplitsCreator.ts
  pkgs/contract/test/ThanksToken.ts
Due: check, format, type-check

add test
  pkgs/contract/contracts/thankstoken/ThanksToken.sol
  pkgs/contract/test/ThanksToken.ts
Due: check, format, type-check

setup subgraph
  pkgs/contract/contracts/thankstoken/IThanksToken.sol
  pkgs/contract/contracts/thankstoken/ThanksToken.sol
  pkgs/subgraph/abis/BigBang.json
  pkgs/subgraph/abis/HatsFractionTokenModule.json
  pkgs/subgraph/abis/HatsHatCreatorModule.json
  pkgs/subgraph/abis/HatsTimeFrameModule.json
  pkgs/subgraph/abis/ThanksToken.json
  pkgs/subgraph/config/base.json
  pkgs/subgraph/config/sepolia.json
  pkgs/subgraph/src/thanksTokenMapping.ts
Due: check, format, type-check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{ts,tsx}
