Repository hackdays-io/toban: changes, and which lefthook commands are due for each by the changed paths.
All: check, format, type-check

check:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true . && git update-index --again

format:
  run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true . && git update-index --again

type-check:
  run: 'pnpm frontend typecheck
  
    '

feat(contract): add mint allowance (approveMint/permitMint/mintFrom) to ThanksToken (#506)
  pkgs/contract/contracts/thankstoken/IThanksToken.sol
  pkgs/contract/contracts/thankstoken/ThanksToken.sol
  pkgs/contract/test/ThanksTokenMintAllowance.ts
  pkgs/contract/typed-data/permit-mint.ts
  pkgs/frontend/abi/thankstoken.ts
Due: check, format, type-check

chore(contract): add ThanksToken impl-swap script + Sepolia deploy
  pkgs/contract/outputs/contracts-sepolia.json
  pkgs/contract/package.json
  pkgs/contract/scripts/upgrade/thanksTokenImpl.ts
  pkgs/contract/scripts/utils/parseBigbangTx.ts
Due: check, format, type-check

sec(contract): tighten ThanksToken mintFrom / permitMint primitives
  pkgs/contract/contracts/thankstoken/ThanksToken.sol
  pkgs/contract/test/ThanksTokenMintAllowance.ts
Due: check, format, type-check

sec(contract): v3 code-review hardening
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/contracts/hatsmodules/quest/HatsQuestModule.sol
  pkgs/contract/contracts/hatsmodules/quest/IHatsQuestModule.sol
  pkgs/contract/contracts/scheduleddistributor/ScheduledDistributorFactory.sol
  pkgs/contract/contracts/splitscreator/SplitsCreator.sol
  pkgs/contract/contracts/splitscreator/SplitsCreatorFactory.sol
  pkgs/contract/contracts/thankstoken/ThanksToken.sol
  pkgs/contract/contracts/thankstoken/ThanksTokenFactory.sol
  pkgs/contract/test/ThanksTokenMintAllowance.ts
Due: check, format, type-check

chore(contract): add ABI sync script and resync frontend/subgraph ABIs
  pkgs/contract/package.json
  pkgs/contract/scripts/utils/syncAbis.ts
  pkgs/frontend/abi/bigbang.ts
  pkgs/frontend/abi/fractiontoken.ts
  pkgs/frontend/abi/hats.ts
  pkgs/frontend/abi/hatsHatCreatorModule.ts
  pkgs/frontend/abi/hatsQuestModule.ts
  pkgs/frontend/abi/hatsTimeFrameModule.ts
  pkgs/frontend/abi/scheduledDistributor.ts
  pkgs/frontend/abi/splits.ts
  pkgs/frontend/abi/thankstoken.ts
  pkgs/subgraph/abis/BigBang.json
  pkgs/subgraph/abis/HatsQuestModule.json
  pkgs/subgraph/abis/ScheduledDistributor.json
  pkgs/subgraph/abis/ScheduledDistributorFactory.json
Due: check, format, type-check

fix(frontend): show account info in shell for EOA-only connected users
  pkgs/frontend/app/components/layout/AccountMenu.tsx
Due: check, format, type-check

fix(frontend): route Hats reads to The Graph on Base, Goldsky on Sepolia
  pkgs/frontend/hooks/useHats.ts
  pkgs/frontend/utils/apollo.ts
Due: check, format, type-check

fix(frontend): resolve names via namestone in assign-duty member search
  pkgs/frontend/app/routes/$treeId_.$hatId_.assign.tsx
Due: check, format, type-check

fix(frontend): unstick post-auth nav by keying effect on address string
  pkgs/frontend/app/routes/login.tsx
Due: check, format, type-check

indexerconfig
  pkgs/contract/outputs/contracts-base.json
  pkgs/subgraph/config/base.json
Due: check, format

fix(extensions): address PR510 review findings #16-#19, #21
  pkgs/extensions/discord-bot/src/chain.ts
  pkgs/extensions/discord-bot/src/commands/balance.ts
  pkgs/extensions/discord-bot/src/identity.ts
  pkgs/extensions/discord-bot/src/signer/turnkey.ts
  pkgs/extensions/discord-bot/test/turnkey-signer.test.ts
  pkgs/frontend/app/routes/connect.discord.tsx
  pkgs/frontend/package.json
  pkgs/frontend/vite.config.ts
  pnpm-lock.yaml
Due: check, format, type-check

chore(extensions): split wrangler envs (sepolia/base), secret RPC, logs; fix connect bigint
  pkgs/extensions/discord-bot/package.json
  pkgs/extensions/discord-bot/wrangler.toml
  pkgs/extensions/identity/package.json
  pkgs/extensions/identity/wrangler.toml
  pkgs/frontend/app/routes/connect.discord.tsx
Due: check, format, type-check

feat(discord-bot): TEE-policy-gated signing, robust followups, Base deploy runbook
  pkgs/extensions/discord-bot/README.md
  pkgs/extensions/discord-bot/docs/deploy-base-production.md
  pkgs/extensions/discord-bot/src/commands/responses.ts
  pkgs/extensions/discord-bot/src/commands/thx.ts
  pkgs/extensions/discord-bot/src/signer/turnkey.ts
  pkgs/extensions/discord-bot/test/turnkey-signer.test.ts
  pkgs/extensions/discord-bot/wrangler.toml
  pkgs/extensions/identity/wrangler.toml
Due: check, format, type-check

fix(frontend): resolve local dev failures with @toban/identity SSR bundling
  pkgs/extensions/identity/package.json
  pkgs/extensions/identity/src/__tests__/connect.test.ts
  pkgs/extensions/identity/src/__tests__/eip712.test.ts
  pkgs/extensions/identity/src/__tests__/fixtures.ts
  pkgs/extensions/identity/src/eip712/hash-verifier-token.ts
  pkgs/extensions/identity/src/eip712/identity-binding.ts
  pkgs/extensions/identity/src/handlers/connect.ts
  pkgs/extensions/identity/src/index.ts
  pkgs/frontend/app/routes/connect.discord.tsx
  pkgs/frontend/app/vite-polyfills/ssr-buffer.ts
  pkgs/frontend/app/vite-polyfills/ssr-global.ts
  pkgs/frontend/app/vite-polyfills/ssr-process.ts
  pkgs/frontend/vite.config.ts
Due: check, format, type-check

fix(frontend): refetch Namestone identity cache after profile save
  pkgs/frontend/app/components/members/MemberDetailContent.tsx
  pkgs/frontend/hooks/useENS.ts
Due: check, format, type-check

fix(frontend): show owned workspaces in workspace list
  pkgs/frontend/app/routes/workspace._index.tsx
  pkgs/frontend/app/routes/workspace.new.tsx
Due: check, format, type-check

refactor(frontend): enhance workspace data fetching and loading state
  pkgs/frontend/app/routes/workspace._index.tsx
  pkgs/frontend/hooks/useWorkspace.ts
Due: check, format, type-check

fix(frontend): update cursor styles for interactive components
  pkgs/frontend/app/components/composite/segmented.tsx
  pkgs/frontend/app/components/composite/workspace-card.tsx
  pkgs/frontend/app/components/layout/AccountMenu.tsx
  pkgs/frontend/app/components/layout/AppHeader.tsx
  pkgs/frontend/app/components/layout/BottomNav.tsx
  pkgs/frontend/app/components/ui/dropdown-menu.tsx
  pkgs/frontend/app/components/ui/tabs.tsx
  pkgs/frontend/app/routes/_index.tsx
  pkgs/frontend/app/styles/globals.css
Due: check, format, type-check

feat(frontend): add workspace creation functionality to WorkspaceSwitcherMenu
  pkgs/frontend/app/components/layout/AppShellLayout.tsx
  pkgs/frontend/app/components/layout/WorkspaceSwitcherMenu.stories.tsx
  pkgs/frontend/app/components/layout/WorkspaceSwitcherMenu.tsx
Due: check, format, type-check

fix(frontend): extend pointer cursor overlay to all links and buttons (#539)
  pkgs/frontend/app/styles/globals.css
Due: none

fix(frontend): keep pointer cursor on Segmented in Brave (#539)
  pkgs/frontend/app/components/composite/segmented.tsx
  pkgs/frontend/app/styles/globals.css
Due: check, format, type-check

chore(frontend): migrate React 18 → 19 (#464)
  pkgs/frontend/package.json
  pnpm-lock.yaml
Due: check, format

feat(quest): index quest metadata via File Data Sources (string metadataUri)
  pkgs/contract/contracts/hatsmodules/quest/HatsQuestModule.sol
  pkgs/contract/contracts/hatsmodules/quest/IHatsQuestModule.sol
  pkgs/contract/outputs/contracts-sepolia.json
  pkgs/contract/scripts/deploy/swapQuestModuleImpl.ts
  pkgs/contract/test/HatsQuestModule.SplitsIntegration.ts
  pkgs/contract/test/HatsQuestModule.ts
  pkgs/frontend/abi/hatsQuestModule.ts
  pkgs/frontend/app/components/quests/QuestCard.tsx
  pkgs/frontend/app/components/quests/QuestPanel.tsx
  pkgs/frontend/app/routes/$treeId._index.tsx
  pkgs/frontend/app/routes/$treeId_.$hatId_.$address_.quest.new.tsx
  pkgs/frontend/app/routes/$treeId_.quest.$questId.tsx
  pkgs/frontend/gql/gql.ts
  pkgs/frontend/gql/graphql.ts
  pkgs/frontend/hooks/useHatsQuestModule.ts
  pkgs/frontend/hooks/useQuestMetadata.ts
  pkgs/frontend/hooks/useQuests.ts
  pkgs/frontend/utils/cid.ts
  pkgs/subgraph/abis/HatsQuestModule.json
  pkgs/subgraph/config/base.json
  pkgs/subgraph/config/sepolia.json
  pkgs/subgraph/schema.graphql
  pkgs/subgraph/src/questMapping.ts
  pkgs/subgraph/src/questMetadataMapping.ts
  pkgs/subgraph/subgraph.template.yaml
Due: check, format, type-check

style: apply biome import sorting and line wrapping
  pkgs/extensions/identity/src/__tests__/eip712.test.ts
  pkgs/extensions/identity/src/__tests__/fixtures.ts
  pkgs/extensions/identity/src/handlers/connect.ts
  pkgs/frontend/app/routes/_index.tsx
  pkgs/frontend/app/routes/workspace._index.tsx
Due: check, format, type-check

feat(frontend): refresh recent activity after thanks token send (#534)
  pkgs/frontend/app/routes/$treeId._index.tsx
  pkgs/frontend/app/routes/$treeId_.thankstoken.send.tsx
  pkgs/frontend/hooks/useThanksToken.ts
Due: check, format, type-check

refactor(frontend): replace Apollo client with Goldsky client for polling activity after thanks token send
  pkgs/frontend/app/routes/$treeId_.thankstoken.send.tsx
Due: check, format, type-check

feat(treat-emoji-slider): add LowSendableCap story and enhance slider functionality
  pkgs/frontend/app/components/composite/treat-emoji-slider.stories.tsx
  pkgs/frontend/app/components/composite/treat-emoji-slider.tsx
  pkgs/frontend/app/components/ui/icon.tsx
  pkgs/frontend/app/routes/$treeId_.thankstoken.send.tsx
Due: check, format, type-check

feat(treat-emoji-slider): add ZeroInitial story and improve slider accessibility
  pkgs/frontend/app/components/composite/treat-emoji-slider.stories.tsx
  pkgs/frontend/app/components/composite/treat-emoji-slider.tsx
Due: check, format, type-check

fix(frontend): reset scroll on wizard step change (#549)
  pkgs/frontend/app/routes/$treeId_.$hatId_.assign.tsx
  pkgs/frontend/app/routes/$treeId_.$hatId_.edit.tsx
  pkgs/frontend/app/routes/$treeId_.roles_.new.tsx
  pkgs/frontend/app/routes/$treeId_.scheduled.new.tsx
  pkgs/frontend/app/routes/$treeId_.splits.new.tsx
  pkgs/frontend/app/routes/$treeId_.thankstoken.send.tsx
  pkgs/frontend/app/routes/workspace.new.tsx
  pkgs/frontend/hooks/useScrollToTop.ts
Due: check, format, type-check

refactor(frontend): enhance scroll behavior in useScrollToTop hook
  pkgs/frontend/hooks/useScrollToTop.ts
Due: check, format, type-check

specaの設定ファイルを追加
  .speca/session.json
  outputs/BUG_BOUNTY_SCOPE.json
  outputs/TARGET_INFO.json
  outputs/review.md
Due: check, format

feat(quest): Discord から代理でクエスト完了申請できるようにする (#531)
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/contracts/bigbang/mock/BigBang_Mock_v2.sol
  pkgs/contract/contracts/hatsmodules/quest/HatsQuestModule.sol
  pkgs/contract/contracts/hatsmodules/quest/IHatsQuestModule.sol
  pkgs/contract/contracts/splitscreator/SplitsCreatorFactory.sol
  pkgs/contract/contracts/thankstoken/ThanksTokenFactory.sol
  pkgs/contract/tasks/BigBang/bigbang.ts
  pkgs/contract/test/HatsQuestModule.SplitsIntegration.ts
  pkgs/contract/test/HatsQuestModule.ts
  pkgs/extensions/discord-bot/scripts/register-commands.ts
  pkgs/extensions/discord-bot/src/api/install/callback.ts
  pkgs/extensions/discord-bot/src/chain.ts
  pkgs/extensions/discord-bot/src/commands/quest-submit.ts
  pkgs/extensions/discord-bot/src/index.ts
  pkgs/extensions/discord-bot/test/quest-submit.test.ts
  pkgs/extensions/discord-bot/turnkey/policy.json
  pkgs/frontend/abi/bigbang.ts
  pkgs/frontend/abi/hatsQuestModule.ts
  pkgs/frontend/app/routes/$treeId_.discord-bot.tsx
  pkgs/frontend/gql/gql.ts
  pkgs/frontend/gql/graphql.ts
  pkgs/frontend/hooks/useHatsQuestModule.ts
  pkgs/frontend/hooks/useWorkspace.ts
  pkgs/subgraph/abis/BigBang.json
  pkgs/subgraph/abis/HatsQuestModule.json
  pkgs/subgraph/config/base.json
  pkgs/subgraph/config/sepolia.json
  pkgs/subgraph/schema.graphql
  pkgs/subgraph/src/bigbangMapping.ts
Due: check, format, type-check

chore(deploy): Base の Cloudflare 環境を Sepolia と同一アカウントに統合する
  docs/deployment.md
  pkgs/extensions/discord-bot/CLAUDE.md
  pkgs/extensions/discord-bot/docs/deploy-base-production.md
  pkgs/extensions/discord-bot/wrangler.toml
  pkgs/extensions/identity/package.json
  pkgs/extensions/identity/wrangler.toml
Due: check, format

docs(frontend): Discord 連携に必要な VITE_ 変数を .env.example に追記
  pkgs/frontend/.env.example
Due: none

docs(deploy): Cloudflare のアカウント取り違えと「直してはいけない警告」を明記
  docs/deployment.md
  pkgs/extensions/discord-bot/wrangler.toml
Due: none

docs(deploy): 全レイヤーのデプロイ手順を体系化し、環境設定を実態に合わせる
  CLAUDE.md
  README.md
  docs/deployment.md
  pkgs/contract/helpers/upgrade/bigbang.ts
  pkgs/contract/outputs/contracts-base.json
  pkgs/contract/outputs/contracts-sepolia.json
  pkgs/contract/scripts/upgrade/bigbang.ts
  pkgs/extensions/discord-bot/CLAUDE.md
  pkgs/extensions/discord-bot/docs/deploy-base-production.md
  pkgs/extensions/discord-bot/package.json
  pkgs/extensions/discord-bot/wrangler.toml
  pkgs/extensions/identity/CLAUDE.md
  pkgs/extensions/identity/package.json
  pkgs/extensions/identity/wrangler.toml
Due: check, format, type-check

fix(frontend): scope SSR polyfill shims to ssr env only
  pkgs/frontend/vite.config.ts
Due: check, format, type-check

feat(frontend): トップページのユースケースに実事例4件を掲載
  pkgs/frontend/app/routes/_index.tsx
  pkgs/frontend/public/images/lp/cases/daoday.jpeg
  pkgs/frontend/public/images/lp/cases/digdao.png
  pkgs/frontend/public/images/lp/cases/kuuvillage.jpg
  pkgs/frontend/public/images/lp/cases/marche.png
Due: check, format, type-check

feat(frontend): サイト共通の OGP/Twitter カード画像を設定
  pkgs/frontend/app/root.tsx
  pkgs/frontend/public/images/ogp.jpg
Due: check, format, type-check

chore(discord-bot): 本番 TOBAN_FRONTEND_URL を toban.xyz に変更
  pkgs/extensions/discord-bot/wrangler.toml
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{ts,tsx}
