Repository hackdays-io/toban: changes, and which lefthook commands are due for each by the changed paths.
All: check, format, type-check

lefthook.yaml:

pre-commit:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true . && git update-index --again
    format:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true . && git update-index --again
    type-check:
      glob: "*.{ts,tsx}"
      run: |
        pnpm frontend typecheck

apply use memo
  pkgs/frontend/app/components/assistcredit/FriendshipRanking.tsx
  pkgs/frontend/app/components/thankstoken/TreemapHoldings.tsx
  pkgs/frontend/app/components/thankstoken/TreemapSent.tsx
  pkgs/frontend/app/routes/$treeId_.history.tsx
  pkgs/frontend/hooks/useThanksToken.ts
Due: check, format, type-check

fix thanks token
  pkgs/contract/contracts/thankstoken/ThanksToken.sol
  pkgs/contract/outputs/contracts-base.json
  pkgs/subgraph/config/base.json
Due: check, format

add serena into roo
  .gitignore
  .roo/mcp.json
Due: check, format

future work for design consistencies
  docs/ui-layout-inconsistencies-future-work.md
Due: none

split creator
  pkgs/frontend/abi/splits.ts
  pkgs/frontend/app/components/assistcredit/FriendshipRanking.tsx
  pkgs/frontend/app/components/assistcredit/SendConfirmation.tsx
  pkgs/frontend/app/components/assistcredit/Treemap.tsx
  pkgs/frontend/app/components/assistcredit/TreemapReceived.tsx
  pkgs/frontend/app/components/assistcredit/VerticalBar.tsx
  pkgs/frontend/app/components/roles/MyRole.tsx
  pkgs/frontend/app/routes/$treeId_.$hatId_.$address.tsx
  pkgs/frontend/app/routes/$treeId_.$hatId_.$address_.assistcredit.send.tsx
  pkgs/frontend/app/routes/$treeId_.member_.$address.tsx
  pkgs/frontend/app/routes/$treeId_.role.tsx
  pkgs/frontend/app/routes/$treeId_.splits.new.tsx
  pkgs/frontend/hooks/useFractionToken.ts
  pkgs/frontend/hooks/useSplitsCreator.ts
Due: check, format, type-check

add qr code reader
  pkgs/frontend/app/components/Header.tsx
  pkgs/frontend/app/components/assistcredit/UserList.tsx
  pkgs/frontend/app/components/common/QrAddressReader.tsx
  pkgs/frontend/app/routes/transaction.tsx
  pkgs/frontend/package.json
  pnpm-lock.yaml
Due: check, format, type-check

remove chain name
  pkgs/frontend/app/components/common/QrAddressReader.tsx
Due: check, format, type-check

multi select interface and batch mint to thanks token
  pkgs/contract/contracts/thankstoken/IThanksToken.sol
  pkgs/contract/contracts/thankstoken/ThanksToken.sol
  pkgs/frontend/abi/thankstoken.ts
  pkgs/frontend/app/components/assistcredit/AmountSelector.tsx
  pkgs/frontend/app/components/assistcredit/SendConfirmation.tsx
  pkgs/frontend/app/components/assistcredit/UserList.tsx
  pkgs/frontend/app/routes/$treeId_.$hatId_.$address_.assistcredit.send.tsx
  pkgs/frontend/app/routes/$treeId_.thankstoken.send.tsx
  pkgs/frontend/hooks/useFractionToken.ts
  pkgs/frontend/hooks/useThanksToken.ts
Due: check, format, type-check

refactor: enhance logout functionality and improve network switch dialog
  pkgs/frontend/app/components/Header.tsx
  pkgs/frontend/app/components/SwitchNetwork.tsx
Due: check, format, type-check

kuu village
  pkgs/frontend/app/components/StickyNav.tsx
  pkgs/frontend/app/routes/transaction.tsx
Due: check, format, type-check

add message data
  pkgs/contract/contracts/thankstoken/IThanksToken.sol
  pkgs/contract/contracts/thankstoken/ThanksToken.sol
  pkgs/contract/scripts/deploy/thankstoken.ts
  pkgs/contract/test/IntegrationTest.ts
  pkgs/contract/test/SplitsCreator.ts
  pkgs/contract/test/ThanksToken.ts
  pkgs/frontend/abi/thankstoken.ts
  pkgs/frontend/app/components/assistcredit/AmountSelector.tsx
  pkgs/frontend/app/components/assistcredit/SendConfirmation.tsx
  pkgs/frontend/app/components/thankstoken/History.tsx
  pkgs/frontend/app/routes/$treeId_.thankstoken.send.tsx
  pkgs/frontend/codegen.ts
  pkgs/frontend/gql/gql.ts
  pkgs/frontend/gql/graphql.ts
  pkgs/frontend/hooks/useThanksToken.ts
  pkgs/subgraph/abis/ThanksToken.json
  pkgs/subgraph/config/base.json
  pkgs/subgraph/config/sepolia.json
  pkgs/subgraph/schema.graphql
  pkgs/subgraph/src/thanksTokenMapping.ts
Due: check, format, type-check

kuu
  pkgs/frontend/app/routes/transaction.tsx
Due: check, format, type-check

set recipient to address
  pkgs/frontend/app/routes/transaction.tsx
Due: check, format, type-check

transaction route
  pkgs/frontend/app/routes/$treeId_.thankstoken.send.tsx
  pkgs/frontend/app/routes/transaction.tsx
Due: check, format, type-check

enable to use url
  pkgs/frontend/app/components/common/QrAddressReader.tsx
Due: check, format, type-check

add mint additional fraction token
  pkgs/frontend/app/components/assistcredit/MintAdditional.tsx
  pkgs/frontend/app/routes/$treeId_.$hatId_.$address.tsx
Due: check, format, type-check

adding depending module
  pkgs/frontend/package.json
  pnpm-lock.yaml
Due: check, format

adding overwrite for react router dom
  pkgs/frontend/package.json
Due: check, format

updating lockfile
  pnpm-lock.yaml
Due: none

add api key into header
  pkgs/frontend/utils/apollo.ts
Due: check, format, type-check

cache namestone profiles and show loading skeletons
  pkgs/frontend/app/components/assistcredit/UserList.tsx
  pkgs/frontend/app/components/thankstoken/History.tsx
  pkgs/frontend/app/routes/$treeId_.$hatId_.$address_.assistcredit.send.tsx
  pkgs/frontend/app/routes/$treeId_.thankstoken.send.tsx
  pkgs/frontend/hooks/useENS.ts
Due: check, format, type-check

research
  docs/research-collaboration-dynamics-ja.md
Due: none

show loading screen while smart wallet is preparing
  pkgs/frontend/app/components/SmartWalletLoading.tsx
  pkgs/frontend/app/root.tsx
Due: check, format, type-check

nav
  pkgs/frontend/app/components/StickyNav.tsx
Due: check, format, type-check

fix assign
  pkgs/frontend/app/routes/$treeId_.$hatId_.assign.tsx
Due: check, format, type-check

docs: add Claude Design handoff bundle for #418
  docs/design/handoff/README.md
  docs/design/handoff/chats/chat1.md
  docs/design/handoff/project/Toban Desktop.html
  docs/design/handoff/project/Toban Prototype.html
  docs/design/handoff/project/app.jsx
  docs/design/handoff/project/data.js
  docs/design/handoff/project/desktop.jsx
  docs/design/handoff/project/edit-screens.jsx
  docs/design/handoff/project/ios-frame.jsx
  docs/design/handoff/project/primitives.jsx
  docs/design/handoff/project/quests.jsx
  docs/design/handoff/project/screens.jsx
  docs/design/handoff/project/thanks-insights.jsx
  docs/design/handoff/project/tokens.js
Due: check, format

chore: add Claude Code worktree hooks for parallel development
  .claude/settings.json
  .gitignore
  README.md
  scripts/claude-worktree-create.sh
  scripts/claude-worktree-remove.sh
Due: check, format

feat: introduce Zustand for global UI state (#423)
  pkgs/frontend/app/stores/index.ts
  pkgs/frontend/app/stores/session.ts
  pkgs/frontend/app/stores/ui.ts
  pkgs/frontend/app/stores/workspace.ts
  pkgs/frontend/package.json
  pnpm-lock.yaml
Due: check, format, type-check

chore: gitignore worktree setup log and drop codegen from worktree hook
  .gitignore
  README.md
  scripts/claude-worktree-create.sh
Due: none

chore: remove role image library and add legacy CID fallback (#459)
  pkgs/frontend/app/components/icon/RoleIcon.tsx
  pkgs/frontend/app/components/roles/RoleImageLibrarySelector.tsx
  pkgs/frontend/app/routes/$treeId_.$hatId_.edit.tsx
  pkgs/frontend/app/routes/$treeId_.roles_.new.tsx
  pkgs/frontend/app/routes/workspace.new.tsx
  pkgs/frontend/public/images/imagelib/rpg1.png
  pkgs/frontend/public/images/imagelib/rpg2.png
  pkgs/frontend/public/images/imagelib/rpg3.png
  pkgs/frontend/public/images/imagelib/rpg4.png
  pkgs/frontend/utils/legacyRoleImages.ts
Due: check, format, type-check

chore: drop legacy CID fallback (no live hats reference removed CIDs)
  pkgs/frontend/app/components/icon/RoleIcon.tsx
  pkgs/frontend/app/routes/$treeId_.$hatId_.edit.tsx
  pkgs/frontend/utils/legacyRoleImages.ts
Due: check, format, type-check

feat(contract): add HatsQuestModule for trustless RoleShare distribution (#417)
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/contracts/bigbang/mock/BigBang_Mock_v2.sol
  pkgs/contract/contracts/hatsmodules/fractiontoken/HatsFractionTokenModule.sol
  pkgs/contract/contracts/hatsmodules/quest/HatsQuestModule.sol
  pkgs/contract/contracts/hatsmodules/quest/IHatsQuestModule.sol
  pkgs/contract/contracts/splitscreator/ISplitsCreatorFactory.sol
  pkgs/contract/contracts/splitscreator/SplitsCreator.sol
  pkgs/contract/contracts/splitscreator/SplitsCreatorFactory.sol
  pkgs/contract/helpers/deploy/BigBang.ts
  pkgs/contract/helpers/deploy/Hats.ts
  pkgs/contract/scripts/deploy/create2.ts
  pkgs/contract/test/BigBang.ts
  pkgs/contract/test/HatsFractionTokenModule.ts
  pkgs/contract/test/HatsQuestModule.SplitsIntegration.ts
  pkgs/contract/test/HatsQuestModule.ts
  pkgs/contract/test/IntegrationTest.ts
  pkgs/contract/test/SplitsCreator.ts
Due: check, format, type-check

test(contract): align test expectations with contract state for sqrt(time) and mintableAmount
  pkgs/contract/test/SplitsCreator.ts
  pkgs/contract/test/ThanksToken.ts
Due: check, format, type-check

chore: ignore react-router auto-generated types in biome
  biome.json
Due: check, format

feat(contract): allow withdrawing or rejecting a quest submission
  pkgs/contract/contracts/hatsmodules/quest/HatsQuestModule.sol
  pkgs/contract/contracts/hatsmodules/quest/IHatsQuestModule.sol
  pkgs/contract/test/HatsQuestModule.ts
Due: check, format, type-check

ci: bump CI pnpm to v9 and pin Hardhat solc to evmVersion cancun
  .github/workflows/build-frontend.yml
  .github/workflows/deploy-document.yml
  .github/workflows/test-contract.yml
  pkgs/contract/hardhat.config.ts
Due: check, format, type-check

fix(frontend): wallet connect & hydration after Vite migration
  biome.json
  pkgs/frontend/app/entry.client.tsx
  pkgs/frontend/app/entry.server.tsx
  pkgs/frontend/app/root.tsx
  pkgs/frontend/package.json
  pkgs/frontend/vite.config.ts
  pnpm-lock.yaml
Due: check, format, type-check
