Repository hackdays-io/toban: changes, and which lefthook commands are due for each by the changed paths.
All: check, format, type-check

check:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true . && git update-index --again

format:
  run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true . && git update-index --again

type-check:
  run: 'pnpm frontend typecheck
  
    '

support inconsisntency testing evm time
  pkgs/contract/test/HatsTimeFrameModule.ts
Due: check, format, type-check

adding member hat parameters
  pkgs/cli/src/abi/bigbang.ts
  pkgs/cli/src/modules/bigbang.ts
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/contracts/bigbang/mock/BigBang_Mock_v2.sol
  pkgs/contract/tasks/BigBang/bigbang.ts
  pkgs/contract/test/BigBang.ts
  pkgs/contract/test/IntegrationTest.ts
Due: check, format, type-check

adding member hat at bigbang
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/test/BigBang.ts
Due: check, format, type-check

adding big bang V2 support
  pkgs/contract/contracts/bigbang/mock/BigBang_Mock_v2.sol
Due: none

changing supply to 99
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/contracts/bigbang/mock/BigBang_Mock_v2.sol
Due: none

change text
  pkgs/frontend/app/components/StickyNav.tsx
  pkgs/frontend/app/components/assistcredit/SendConfirmation.tsx
  pkgs/frontend/app/components/assistcredit/Treemap.tsx
  pkgs/frontend/app/components/assistcredit/TreemapReceived.tsx
  pkgs/frontend/app/components/assistcredit/VerticalBar.tsx
  pkgs/frontend/app/components/roles/MyRole.tsx
  pkgs/frontend/app/routes/$treeId_.$hatId_.$address.tsx
  pkgs/frontend/app/routes/$treeId_.$hatId_.$address_.assistcredit.send.tsx
  pkgs/frontend/app/routes/$treeId_.assistcredit._index.tsx
  pkgs/frontend/app/routes/$treeId_.member_.$address.tsx
Due: check, format, type-check

update SplitsCreator and BigBang for ThanksToken
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/contracts/bigbang/mock/BigBang_Mock_v2.sol
  pkgs/contract/contracts/splitscreator/ISplitsCreatorFactory.sol
  pkgs/contract/contracts/splitscreator/SplitsCreator.sol
  pkgs/contract/contracts/splitscreator/SplitsCreatorFactory.sol
Due: none

fix: added a missing arg
  pkgs/contract/contracts/splitscreator/SplitsCreatorFactory.sol
Due: none

fix: deploy test of Splits Creator
  pkgs/contract/contracts/splitscreator/SplitsCreator.sol
  pkgs/contract/test/SplitsCreator.ts
Due: check, format, type-check

fix: delete wrong logics
  pkgs/contract/contracts/splitscreator/SplitsCreator.sol
Due: none

update: splits creator weight logics
  pkgs/contract/contracts/splitscreator/SplitsCreator.sol
Due: none

feat: enhance SplitsCreator with WeightsInfo struct and update allocation methods
  pkgs/contract/contracts/splitscreator/ISplitsCreator.sol
  pkgs/contract/contracts/splitscreator/SplitsCreator.sol
  pkgs/contract/test/IntegrationTest.ts
  pkgs/contract/test/SplitsCreator.ts
Due: check, format, type-check

test: add integration test for ThanksToken deployed from BigBang balance retrieval
  pkgs/contract/test/IntegrationTest.ts
Due: check, format, type-check

modify design
  pkgs/frontend/app/components/assistcredit/FriendshipRanking.tsx
  pkgs/frontend/app/components/assistcredit/VerticalBar.tsx
  pkgs/frontend/app/routes/$treeId_.assistcredit.history.tsx
Due: check, format, type-check

modify
  pkgs/contract/contracts/bigbang/BigBang.sol
Due: none

fix: ThanksToken deployment from uups to clone
  pkgs/contract/contracts/thankstoken/IThanksTokenFactory.sol
  pkgs/contract/contracts/thankstoken/ThanksToken.sol
  pkgs/contract/contracts/thankstoken/ThanksTokenFactory.sol
  pkgs/contract/helpers/deploy/ThanksToken.ts
  pkgs/contract/test/BigBang.ts
  pkgs/contract/test/IntegrationTest.ts
  pkgs/contract/test/SplitsCreator.ts
  pkgs/contract/test/ThanksToken.ts
Due: check, format, type-check

fix: adjust indentation for NAME function in ThanksToken contract
  pkgs/contract/contracts/thankstoken/ThanksToken.sol
Due: none

test: update ThanksToken tests with dynamic token name and symbol
  pkgs/contract/test/ThanksToken.ts
Due: check, format, type-check

feat: add participant tracking to ThanksToken contract and corresponding tests
  pkgs/contract/contracts/thankstoken/IThanksToken.sol
  pkgs/contract/contracts/thankstoken/ThanksToken.sol
  pkgs/contract/test/ThanksToken.ts
Due: check, format, type-check

feat: enhance SplitsCreator contract with ThanksToken integration and allocation calculations
  pkgs/contract/contracts/splitscreator/SplitsCreator.sol
  pkgs/contract/test/SplitsCreator.ts
Due: check, format, type-check

refactor: improve allocation calculation logic in SplitsCreator contract and update test weights for better accuracy
  pkgs/contract/contracts/splitscreator/SplitsCreator.sol
  pkgs/contract/test/SplitsCreator.ts
Due: check, format, type-check

refactor: remove unused getThanksTokenScore function and clean up imports in SplitsCreator contract
  pkgs/contract/contracts/splitscreator/SplitsCreator.sol
Due: none

refactor: update PRECISION constant in SplitsCreator contract for improved allocation calculations
  pkgs/contract/contracts/splitscreator/SplitsCreator.sol
Due: none

test: enhance allocation tests in SplitsCreator with detailed logging and validation for expected results
  pkgs/contract/test/SplitsCreator.ts
Due: check, format, type-check

test: streamline allocation validation in SplitsCreator by removing console logs and enhancing precision calculations
  pkgs/contract/test/SplitsCreator.ts
Due: check, format, type-check

adding readme
  README.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/default.md
Due: none

refactor: rename BigBang_Mock_v3 to BigBang_Mock_v2
  pkgs/contract/contracts/bigbang/mock/BigBang_Mock_v2.sol
Due: none

BigBangコントラクトにbatchmintHatsメソッドを追加しました。さらにテストコードを追加しました。便利なタスクファイルを追加しました。
  README.md
  pkgs/contract/contracts/bigbang/BigBang.sol
  pkgs/contract/contracts/hatsmodules/timeframe/HatsTimeFrameModule.sol
  pkgs/contract/data/sample.csv
  pkgs/contract/helpers/deploy/contractsJsonHelper.ts
  pkgs/contract/outputs/contracts-sepolia.json
  pkgs/contract/package.json
  pkgs/contract/tasks/BigBang/batchMintHats.ts
  pkgs/contract/tasks/BigBang/checkBigBangOwner.ts
  pkgs/contract/tasks/HatsTimeFrameModule/batchMintHat.ts
  pkgs/contract/tasks/HatsTimeFrameModule/mintHat.ts
  pkgs/contract/tasks/SplitsCreatorFactory/checkBigBangSetting.ts
  pkgs/contract/tasks/SplitsCreatorFactory/checkOwner.ts
  pkgs/contract/tasks/SplitsCreatorFactory/setBigBang.ts
  pkgs/contract/tasks/index.ts
  pkgs/contract/test/BigBang.ts
  pkgs/contract/test/HatsTimeFrameModule.ts
Due: check, format, type-check

tmp
  pkgs/subgraph/schema.graphql
  pkgs/subgraph/src/bigbangMapping.ts
  pkgs/subgraph/src/hatsModuleMapping.ts
Due: check, format, type-check

serena MCPの設定とGitHub Copilot用のカスタムインストラクションファイルを追加
  .github/copilot-instructions.md
  .gitignore
  .vscode/mcp.json
Due: check, format

update: create2 script for v2
  pkgs/contract/outputs/contracts-sepolia.json
  pkgs/contract/scripts/deploy/create2.ts
Due: check, format, type-check

refactor: format
  pkgs/contract/outputs/contracts-sepolia.json
Due: check, format

feat: implement Thanks Token send feature
  pkgs/frontend/app/components/StickyNav.tsx
  pkgs/frontend/app/components/assistcredit/History.tsx
  pkgs/frontend/app/routes/$treeId._index.tsx
  pkgs/frontend/app/routes/$treeId_.$hatId_.$address_.assistcredit.send.tsx
  pkgs/frontend/app/routes/$treeId_.thankstoken.send.tsx
Due: check, format, type-check

fix: integrate ThanksToken deployment in create2 script
  pkgs/contract/outputs/contracts-sepolia.json
  pkgs/contract/scripts/deploy/create2.ts
Due: check, format, type-check

GitHub MCP用の設定を追加&テストコードまで通るように更新
  .vscode/config/.env.example
  .vscode/mcp.json
  README.md
  pkgs/contract/contracts/hatsmodules/timeframe/HatsTimeFrameModule.sol
  pkgs/contract/contracts/hatsmodules/timeframe/IHatsTimeFrameModule.sol
  pkgs/contract/data/example-wearers.csv
  pkgs/contract/helpers/deploy/contractsJsonHelper.ts
  pkgs/contract/outputs/contracts-holesky.json
  pkgs/contract/outputs/contracts-sepolia.json
  pkgs/contract/scripts/deploy/all.ts
  pkgs/contract/scripts/upgrade/hatsTimeFrameModule.ts
  pkgs/contract/tasks/HatsTimeFrameModule/batchMintHat.ts
  pkgs/contract/tasks/index.ts
  pkgs/contract/test/HatsTimeFrameModule.ts
Due: check, format, type-check

ガスリミットが小さいとガス代不足で失敗するので値を更新しました。
  pkgs/contract/tasks/BigBang/bigbang.ts
Due: check, format, type-check

テストコードを修正
  pkgs/contract/test/BigBang.ts
Due: check, format, type-check

テストコードを追記＆タスクファイルを更新
  pkgs/contract/tasks/BigBang/bigbang.ts
  pkgs/contract/test/BigBang.ts
Due: check, format, type-check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{ts,tsx}
